<div style="width:100%;display:flex;justify-content:space-evenly;background-color:#F8F8F8;border:0.5px solid #E5E2E0;bottom:0px;position:fixed;left:0px">
    <MudIconButton Ripple="false" Size="Size.Large" Icon="@Icons.Material.Outlined.Home" Href="/"></MudIconButton>
    <MudIconButton Ripple="false" Size="Size.Large" Icon="@Icons.Material.Outlined.Person"></MudIconButton>
    <MudIconButton Ripple="false" Size="Size.Large" Icon="@Icons.Material.Outlined.Add" Style="color:#FC8404" Href="/addpost"></MudIconButton>
    <MudIconButton Ripple="false" Size="Size.Large" Icon="@Icons.Material.Outlined.WavingHand" Href="/creditos"></MudIconButton>
    <MudIconButton Ripple="false" Size="Size.Large" Icon="@Icons.Material.Outlined.Dashboard" Href="/lotaria"></MudIconButton>
</div>